sudo: false

addons:
  apt:
    packages:
      - google-chrome-stable

language: java

jdk:
  - openjdk8
  - openjdk11
  - openjdk12

env:
  - CHROMEDRIVER_BINARY=~/chromedriver

python:
  - 2.7

before_install:
  - pip install --user codecov
  - wget -N http://chromedriver.storage.googleapis.com/2.34/chromedriver_linux64.zip -P ~/
  - unzip ~/chromedriver_linux64.zip -d ~/
  - rm ~/chromedriver_linux64.zip
  - sudo chmod +x ~/chromedriver

script:
  - whereis google-chrome-stable
  - whereis chromedriver
  - mvn clean install -DskipTests=true

after_success:
  - codecov