sudo: false

addons:
  apt:
    packages:
      - google-chrome-stable
      - ocl-icd-opencl-dev

language: java

jdk:
  - openjdk8
  - openjdk11
  - openjdk12

env:
  global:
    - CHROMEDRIVER_BINARY=~/chromedriver

cache:
  directories:
    - $HOME/.m2
    - $HOME/cache/install-jdk

before_install:
  - find / | grep "install-jdk.sh"
  - pwd
  - wget -N http://chromedriver.storage.googleapis.com/2.34/chromedriver_linux64.zip -P ~/
  - unzip ~/chromedriver_linux64.zip -d ~/
  - rm ~/chromedriver_linux64.zip
  - sudo chmod +x ~/chromedriver
  - whereis google-chrome-stable
  - whereis chromedriver
  - sudo chmod +x jdkman.sh
  - wget -N https://github.com/sormuras/bach/raw/master/install-jdk.sh -P ~/
  - sudo chmod +x ~/install-jdk.sh

install: true

script:
  - mvn clean install -P jvmtestsonly

jobs:
  include:
    - stage: "Compiler Target Tests"
      name: "JS Target OpenJDK 8"
      script: mvn -pl '!:bytecoder-integrationtest' test -P jstestsonly
    - script: ./jdkman.sh 'openjdk11' '11' && mvn -pl '!:bytecoder-integrationtest' test -P jstestsonly
      name: "JS Target OpenJDK 11"
    - script: ./jdkman.sh 'openjdk12' '12' && mvn -pl '!:bytecoder-integrationtest' test -P jstestsonly
      name: "JS Target OpenJDK 12"
    - script: mvn -pl '!:bytecoder-integrationtest' test -P wasmtestsonly
      name: "WASM Target OpenJDK 8"
    - script: ./jdkman.sh 'openjdk11' '11' && mvn -pl '!:bytecoder-integrationtest' test -P wasmtestsonly
      name: "WASM Target OpenJDK 11"
    - script: ./jdkman.sh 'openjdk12' '12' && mvn -pl '!:bytecoder-integrationtest' test -P wasmtestsonly
      name: "WASM Target OpenJDK 12"