name: Pull Request
on:
  pull_request:
    branches: [ master ]
jobs:
  build_jvm:
    runs-on: 'ubuntu-20.04'
    strategy:
      matrix:
        java: [8,11,20]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v2
        with:
          java-version: ${{ matrix.java }}
          distribution: "temurin"
      - uses: actions/cache@v1
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - run: mvn --no-transfer-progress --batch-mode verify -P jvmtestsonly
  build_js_backend:
    runs-on: 'ubuntu-20.04'
    strategy:
      matrix:
        java: [8,11,20]
    steps:
     - uses: actions/checkout@v2
     - uses: actions/setup-java@v2
       with:
           java-version: ${{ matrix.java }}
           distribution: "temurin"
     - uses: actions/cache@v1
       with:
         path: ~/.m2/repository
         key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
         restore-keys: |
           ${{ runner.os }}-maven-
     - run: mvn --no-transfer-progress --batch-mode verify -P jstestsonly
  build_wasm_backend:
    runs-on: 'ubuntu-20.04'
    strategy:
      matrix:
        java: [8,11,20]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v2
        with:
          java-version: ${{ matrix.java }}
          distribution: "temurin"
      - uses: actions/cache@v1
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - run: mvn --no-transfer-progress --batch-mode verify -P wasmtestsonly
