name: Pull Request
on:
  pull_request:
    branches: [ master ]
jobs:
  build_jvm:
    runs-on: 'ubuntu-latest'
    strategy:
      matrix:
        java: [8,11,15]
    steps:
      - uses: actions/checkout@v1
      - uses: joschi/setup-jdk@v1
        env:
          ACTIONS_ALLOW_UNSECURE_COMMANDS: 'true'
        with:
          java-version: ${{ matrix.java }}
      - uses: actions/cache@v1
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - run: |
          wget https://apt.llvm.org/llvm.sh
          chmod +x llvm.sh
          sudo ./llvm.sh 11
          sudo apt-get install -y ocl-icd-opencl-dev clang-11 lldb-11 lld-11 clangd-11
      - run: mvn --no-transfer-progress --batch-mode verify -P jvmtestsonly
  build_js_backend:
    runs-on: 'ubuntu-latest'
    strategy:
      matrix:
        java: [8,11,15]
    steps:
     - uses: actions/checkout@v1
     - uses: joschi/setup-jdk@v1
       env:
          ACTIONS_ALLOW_UNSECURE_COMMANDS: 'true'
       with:
           java-version: ${{ matrix.java }}
     - uses: actions/cache@v1
       with:
         path: ~/.m2/repository
         key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
         restore-keys: |
           ${{ runner.os }}-maven-
     - run: |
         wget https://apt.llvm.org/llvm.sh
         chmod +x llvm.sh
         sudo ./llvm.sh 11
         sudo apt-get install -y ocl-icd-opencl-dev clang-11 lldb-11 lld-11 clangd-11
     - run: mvn --no-transfer-progress --batch-mode verify -P jstestsonly
  build_wasm_stackify_backend:
    runs-on: 'ubuntu-latest'
    strategy:
      matrix:
        java: [8,11,15]
    steps:
      - uses: actions/checkout@v1
      - uses: joschi/setup-jdk@v1
        env:
          ACTIONS_ALLOW_UNSECURE_COMMANDS: 'true'
        with:
          java-version: ${{ matrix.java }}
      - uses: actions/cache@v1
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - run: |
          wget https://apt.llvm.org/llvm.sh
          chmod +x llvm.sh
          sudo ./llvm.sh 11
          sudo apt-get install -y ocl-icd-opencl-dev clang-11 lldb-11 lld-11 clangd-11
      - run: mvn --no-transfer-progress --batch-mode verify -P wasmtestsonly_stackify
  build_wasm_reloop_backend:
    runs-on: 'ubuntu-latest'
    strategy:
      matrix:
        java: [8,11,15]
    steps:
      - uses: actions/checkout@v1
      - uses: joschi/setup-jdk@v1
        env:
          ACTIONS_ALLOW_UNSECURE_COMMANDS: 'true'
        with:
          java-version: ${{ matrix.java }}
      - uses: actions/cache@v1
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - run: |
          wget https://apt.llvm.org/llvm.sh
          chmod +x llvm.sh
          sudo ./llvm.sh 11
          sudo apt-get install -y ocl-icd-opencl-dev clang-11 lldb-11 lld-11 clangd-11
      - run: mvn --no-transfer-progress --batch-mode verify -P wasmtestsonly_reloop
  build_wasmllvm_backend:
    runs-on: 'ubuntu-latest'
    strategy:
      matrix:
        java: [8,11,15]
    steps:
      - uses: actions/checkout@v1
      - uses: joschi/setup-jdk@v1
        env:
          ACTIONS_ALLOW_UNSECURE_COMMANDS: 'true'
        with:
          java-version: ${{ matrix.java }}
      - uses: actions/cache@v1
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - run: |
          wget https://apt.llvm.org/llvm.sh
          chmod +x llvm.sh
          sudo ./llvm.sh 11
          sudo apt-get install -y ocl-icd-opencl-dev clang-11 lldb-11 lld-11 clangd-11
      - run: mvn --no-transfer-progress --batch-mode verify -P wasmllvmtestsonly
